.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: palegreen;
    color: black;
    text-align: center;
    padding-top: 10px;
    height: 5rem;
    opacity: 0.5;
  }